*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #05002e;
}

.trans_header{
    width: 100%;
    height: 110px;
    z-index: 101;
    background: #05002e;
    font-size: 23px;
    font-family: sans-serif;
    text-align: center;
    margin-top: -20px;
}

.imagentp{
    background: #05002e;
    margin: auto;
    text-align: center;
    padding-top: 15px;
}

.menuu ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-flex;
}
    
.menuu li{
    padding-top: 15px;
    padding-left: 40px;
}
    
.menuu li a:hover{
    color: aqua;
    text-decoration: underline;
}
    
.menuu li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: whitesmoke;
}

.bloquetitulo2{
    width: 100%;
    display: inline-block;
    font-size: 25px;
    letter-spacing: 1px;
    text-align: center;
    margin: 0;
    padding-top: -30px;
    color: aqua;
    font-family: sans-serif;
}
    
.parrafotitulo2{
    letter-spacing: 1px;
    font-family: sans-serif;
    color: white;
    text-align: left;
    text-align: center;
    font-size: 15px;
    float: left;
}
    
.tipostp{

    display: inline-flex;
    padding-left: 40px;
}
